<% if @errors && !@errors.empty? %>
    <% @errors.each do |e| %>
        <p><%= e %></p>
    <% end %>
<% end %>
    
<%= form_for (@team) do |f|%>

    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.label :region %>
    <%= f.text_field :region %>
    
    <%= f.label :season_wins %>
    <%= f.number_field :season_wins%>
    
    <%= f.label :season_losses %>
    <%= f.number_field :season_losses %>

    <%= f.submit %>

    <% end %>