<% if @errors && !@errors.empty? %>
    <% @errors.each do |e| %>
        <p><%= e %></p>
    <% end %>
<% end %>

<h1> Teams </h1>
<%= form_for (@team) do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :region %>
    <%= f.text_field :region %>
    <%= f.label :season_wins %>
    <%= f.number_field :season_wins%>
    <%= f.label :season_losses %>
    <%= f.number_field :season_losses %>

<h2> Game: </h2>
<%= f.fields_for :games do |game| %>
    <p>
        <%= game.label :game_number %>
        <%= game.date_field :game_number %>
    </p>
    <% end %>

    <%= f.submit %>
    <% end %>