<% if @errors && !@errors.empty? %>
    <% @errors.each do |e| %>
        <p><%= e %></p>
    <% end %>
<% end %>

<h1> Game: </h1>
<%= form_for (@game) do |f| %>
<%= f.label :date %>
<%= f.text_field :date %>

# <h2> Teams: </h2>
#     <%= f.fields_for :teams do |team| %>
#     <p>
#         <%= team.label :name %>
#         <%= team.text_field :name %>
#     </p>
#     <% end %>

<%= f.submit %>
<% end %>