<% if @errors && !@errors.empty? %>
    <% @errors.each do |e| %>
        <p><%= e %></p>
    <% end %>
<% end %>

<%= form_for (@game) do |f|%>

    <%= f.label :team %>
    <%= f.text_field :team %>
    
    <%= f.label :date %>
    <%= f.text_field :date %>

    <%= f.submit %>

    <% end %>