<% if @errors && !@errors.empty? %>
    <% @errors.each do |e| %>
        <p><%= e %></p>
    <% end %>
<% end %>

<h1> Game: </h1>
<%= form_for (@game) do |f| %>
<%= f.label :date %>
<%= f.date_field :date %>
<%= f.label :game_number %>
<%= f.number_field :game_number %>


<%= f.submit %>
<% end %>